#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

# override_dh_command targets
override_dh_auto_configure:
	./configure --prefix=/usr

override_dh_auto_install:
	$(MAKE) INSTALL_ROOT=$(CURDIR)/debian/qbittorrent/ install

# standard targets
build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build
	touch $@

clean: unpatch
	dh $@

install: build install-stamp
install-stamp:
	dh install
	touch $@

binary-indep:
	# nothing to do

binary-arch: install
	dh $@

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install 
